.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 4rem;
    font-weight: bolder;
}

section.barra_lateral {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: lime;
    background-color: blue;
    gap: 1rem;
    justify-content: space-evenly;
}

section.main {
    flex-grow: 2;
    padding: 5px;
}

@media (max-width: 640px) {
    .contenedor {
        flex-direction: column-reverse;
    }    
    section.barra_lateral {
        flex-direction: row;
    }
}